<% if video.errors.any? %>
  <%= content_tag(:div, 'A prohibited this video from being saved', class: "alert alert-danger text-center") %>\
<% end %>
<div class="card" style="width: 60%; margin: 0 auto; float: none; margin-bottom: 10px;">
  <div class="card-body">
    <h1 class="card-title text-center">Share a youtube movie</h1>
    <%= form_with(model: video, class: "form-group text-center d-flex align-items-center rgba-black-strong py-5 px-4 justify-content-center")  do |form| %>
      <%= form.text_field :url, class: 'form-control', style: "margin-bottom: 10px;" %>
      <%= form.submit 'Create Video', :class => 'btn btn-info btn-sm' %>
    <% end %>
  </div>
</div>