/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@media only screen and (max-device-width: 837px) {
  .card-horizontal {
    display: block;
  }

  .card {
    margin: 1em auto;
    width: 300px;
    margin-bottom: 30px;

    border-style: solid;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #337ab7;
  }

  .card-body {
    margin-left: none !important;
  }

  .mobile {
    display: flex;
    display: flex;
      margin-left: 30px;
      margin-top: 8px;
      align-items: center;
  }

  .navbar-brand {
    text-align: center;
    align-items: center;
    // width: 100%;
  }

  .window {
    display: none !important;
  }

  body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: #1E1E23;
    opacity: 1;
    font-family: 'work sans', sans serif;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
  }

  a:hover {
    opacity: 0.5;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }

  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 180px;
    height: 400px;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 30px;
    padding-top: 125px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    align-items: center;
    justify-content: normal;
  }

  #menu li {
    padding: 10px 0;
    transition-delay: 2s;
  }

  #menuToggle input:checked~ul {
    transform: none;
  }
}

@media only screen and (min-device-width: 837px) {
  .mobile {
    display: none !important;
  }

  .window {
    display: block;
  }

  .card-horizontal {
    display: flex;
    flex: auto auto auto;
  }

  .card {
    margin: 1em auto;
    width: fit-content;
    margin-bottom: 30px;
    border-style: solid;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #337ab7;
  }
}